doctype html

.mb-2
    button.btn.btn-sm.btn-outline-primary(
        type='button',
        (click)='onBackClick()'
    ) Back

form.needs-validation(
    #addMeasurementForm='ngForm',
    [class.was-validated]='!!(whenSubmittedForm$ | async)',
    (submit)='onFormSubmit(addMeasurementForm)'
)
    .form-group
        label(for='amount') Amount
        input.form-control.m-form-control.form-control-sm#amount(
            type='number',
            placeholder='Enter amount',
            name='amount',
            [(ngModel)]='addPaymentRequest.amount',
            #name='ngModel',
            required='required',
            min='0',
            appIsPositiveNumber,
        )

    .form-group
        label(for='paymentTypeId') Payment type
        select.custom-select.m-form-control.custom-select-sm#paymentTypeId(
            required='required',
            name='paymentTypeId',
            [(ngModel)]='addPaymentRequest.paymentTypeId'
        )
            option(
                *ngFor='let paymentType of (paymentTypes$ | async)',
                [value]='paymentType.id'
            ) {{ paymentType.name }}

    .form-group.form-row
      .col-2
        label(for='month') Month
        select.custom-select.custom-select-sm#month(
            required='required',
            name='month',
            [(ngModel)]='addPaymentRequest.month'
        )
            option(
                *ngFor='let month of (months$ | async)',
                [value]='month.id'
            ) {{ month.name }}
      .col-1
        label(for='year') Year
        select.custom-select.custom-select-sm#year(
              required='required',
              name='year',
              [(ngModel)]='addPaymentRequest.year'
          )
              option(
                  *ngFor='let year of (years$ | async)',
                  [value]='year.id'
              ) {{ year.name }}

    .form-group
        label(for='description') Description
        textarea.form-control.m-form-control.form-control-sm#description(
            type='text',
            placeholder='Payment description',
            name='description',
            [(ngModel)]='addPaymentRequest.description',
            #name='ngModel'
        )
    
    button.btn.btn-sm.btn-success(type='submit') Add