doctype html

.btn-toolbar(
    role='toolbar',
    aria-label='action buttons'
)
    button.btn.btn-sm.btn-outline-primary.mr-2(
        type='button',
        (click)='onBackClick()'
    ) Back
    button.btn.btn-success.btn-sm(
        type='button',
        (click)='onAddClick()'
    ) Create new
hr

.type-list-item(*ngFor='let type of (measurementTypes$ | async)')
    .name
        span.color(
            [attr.title]='type.hasColor ? type.color : \'Not set\'',
            [style.background]='type.color',
        )
        h5 {{ type.name }}
    p.description {{ type.description }}
    .payment-type
        app-badge(
            [mainColor]='type.paymentTypeColor',
            [text]='type.paymentTypeName',
            clickable='false'
        )
    .actions
        .oi.oi-pencil.oi-large(
            (click)='onEditClick(type.id)',
            title='Edit'
        )
        .oi.oi-trash.oi-large(
            (click)='onDeleteClick(type.id)',
            title='All related objects will be deleted too.'
        )
br
app-paginator(
    *ngIf='(paginatorConfig$ | async)?.enabled',
    [pagesCount]='(paginatorConfig$ | async)?.pagesCount',
    (pageChange)='onPageChange($event)'
)