doctype html

.mb-2
    button.btn.btn-sm.btn-outline-primary(
        type='button',
        (click)='onBackClick()'
    ) Back

form.needs-validation(
    #form='ngForm',
    [class.was-validated]='!!(whenSubmittedForm$ | async)',
    (submit)='onFormSubmit(form)'
)
    .form-group
        label(for='name') Name
        input.form-control.m-form-control.form-control-sm#name(
            type='text',
            placeholder='Enter payment type name',
            name='name',
            [(ngModel)]='paymentTypeRequest.name',
            #name='ngModel',
            required='required',
            minlength='3',
            maxlength='25'
        )

    .form-group
        label(for='name') Company
        input.form-control.m-form-control.form-control-sm#company(
            type='text',
            placeholder='Enter company holder',
            name='company',
            [(ngModel)]='paymentTypeRequest.company',
            #name='ngModel'
        )
        
    .form-group
        label(for='description') Description
        textarea.form-control.m-form-control.form-control-sm#description(
            placeholder='Enter description',
            name='description',
            [(ngModel)]='paymentTypeRequest.description',
            #name='ngModel'
        )
    
    .form-group
        .row
            .col-2
                label(for='color') Badge color
                input.form-control.form-control-sm#color(
                    type='color',
                    name='color',
                    [(ngModel)]='paymentTypeRequest.color',
                    #name='ngModel'
                )
            .col
                label(
                    title='Hover text below to see difference'
                ) Preview
                app-badge(
                    style='display: table',
                    [mainColor]='paymentTypeRequest.color',
                    [text]='paymentTypeRequest.name'
                )

    button.btn.btn-sm.btn-success(type='submit') Update