doctype html

h3 Test mail message sending

form.needs-validation(
    #testMailMessageForm='ngForm',
    [class.was-validated]='!!(whenSendRequest$ | async)',
    (submit)='onFormSend(testMailMessageForm)'
)
    .form-group
        label(for='recipient') Recipient
        input.form-control.m-form-control.form-control-sm#recipient(
            type='text',
            placeholder='Enter recipient mail',
            name='recipient',
            [(ngModel)]='mailMessageRequest.recipient',
            #recipient='ngModel',
            required='required',
            pattern='^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'
        )
        .invalid-feedback Recipient email must be filled by template email@example.com

    button.btn.btn-primary(type='submit') Send