doctype html

form.needs-validation(
    #form='ngForm',
    [class.was-validated]='!!(whenSubmittedForm$ | async)',
    (submit)='onFormSubmit(form)'
)
    .form-group
        label(for='measurement') Measurement value
        input.form-control.m-form-control.form-control-sm#measurement(
            type='number',
            placeholder='Enter measurement',
            name='measurement',
            [(ngModel)]='measurementRequest.measurement',
            #measurement='ngModel',
            required='required',
            min='0',
            appIsPositiveNumber,
        )

    .form-group
        label(for='meterMeasurementTypeId') Measurement type
        select.custom-select.m-form-control.custom-select-sm#meterMeasurementTypeId(
            required='required',
            name='meterMeasurementTypeId',
            [(ngModel)]='measurementRequest.meterMeasurementTypeId'
        )
            option(
                *ngFor='let measurementType of (measurementTypes$ | async)',
                [value]='measurementType.id'
            ) {{ measurementType.name }}

    .form-group.form-row
      .col-2
        label(for='month') Month
        select.custom-select.custom-select-sm#month(
            required='required',
            name='month',
            [(ngModel)]='measurementRequest.month'
        )
            option(
                *ngFor='let month of (months$ | async)',
                [value]='month.id'
            ) {{ month.name }}
      .col-1
        label(for='year') Year
        select.custom-select.custom-select-sm#year(
              required='required',
              name='year',
              [(ngModel)]='measurementRequest.year'
          )
              option(
                  *ngFor='let year of (years$ | async)',
                  [value]='year.id'
              ) {{ year.name }}

    .form-group
        label(for='comment') Comment
        textarea.form-control.m-form-control.form-control-sm#comment(
            type='text',
            placeholder='Enter comment',
            name='comment',
            [(ngModel)]='measurementRequest.comment',
            #name='ngModel'
        )
    
    button.btn.btn-outline-primary(type='submit') Update