doctype html

ul.nav.nav-tabs(
    role='chartList'
)
    li.nav-item
        a.nav-link.active#paymentsTab(
            data-toggle='tab',
            href='#paymentStats',
            role='tab',
            aria-controls='home',
            aria-selected='true'
        ) Payments
    li.nav-item
        a.nav-link#measurementsTab(
            data-toggle='tab',
            href='#measurementStats',
            role='tab',
            aria-controls='home',
            aria-selected='true'
        ) Measurements
.tab-content
    .tab-pane.fade.show.active#paymentStats(
        role='tabpanel',
        aria-labelledby='paymentsTab'
    )
        app-stats-payments
    .tab-pane.fade#measurementStats(
        role='tabpanel',
        aria-labelledby='measurementsTab'
    )
        app-stats-measurement