doctype html

form.mt-2.container.form-inline(
    (ngSubmit)='onFormSubmit()'
)
    label.mb-2(
        for='year'
    ) Year
    select.mx-sm-3.mb-2.form-control-sm.form-control#year(
        name='year',
        [(ngModel)]='statisticsFilter.year',
        required='required'
    )
        option(
            *ngFor='let year of years',
            [ngValue]='year.id'
        ) {{ year.name }}
    label.mb-2(
        for='year'
    ) Measurement type
    select.mx-sm-3.mb-2.form-control-sm.form-control#year(
        name='paymentType',
        [(ngModel)]='statisticsFilter.measurementTypeId',
        required='required'
    )
        option(
            *ngFor='let measurementType of (measurementTypes$ | async)',
            [ngValue]='measurementType.id'
        ) {{ measurementType.name }}
    button.btn.btn-primary.mb-2(
        type='submit',
        style='margin-left: auto'
    ) Display data

div.mt-3.chart-overlay-container
    .chart-overlay(
        *ngIf='chartDataIsLoading$ | async'
    )
        img.chart-cover-image(
            src='assets/images/loading-01.svg',
            alt='loading'
        )
    app-stats-chart(
        [class.chart-overlay-cover]='chartDataIsLoading$ | async',
        [series]='chart.series',
        [xaxis]='chart.xaxis',
        [title]='chart.title'
    )