doctype html

.mb-2
    button.btn.btn-sm.btn-outline-primary.mr-2(
        type='button',
        (click)='onBackClick()'
    ) Back
    button.btn.btn-success.btn-sm(
        type='button',
        (click)='onAddClick()'
    ) Create new
hr

.loading-cover
    .loading-cover_image-container(
        *ngIf='isLoading$ | async'
    )
        img.loading-cover_image-container_img(
            alt='loading..',
            src='assets/images/loading-02.svg'
        )
    .loading-cover_content(
        [attr.data-disabled]='isLoading$ | async'
    )
        div(*ngIf='hasData$ | async')
            .type-list-item(*ngFor='let type of (paymentTypes$ | async)')
                .name
                    span.color(
                        [attr.title]='type.hasColor ? type.color : \'Not set\'',
                        [style.background]='type.color',
                    )
                    h5 {{ type.name }}
                p.description {{ type.description }}
                .actions
                    .oi.oi-pencil.oi--elg(
                        (click)='onEditClick(type.id)',
                        title='Edit'
                    )
                    .oi.oi-trash.oi--elg(
                        (click)='onDeleteClick(type.id)',
                        title='All related objects will be deleted too.'
                    )
            br
            app-paginator(
                *ngIf='(paginatorConfig$ | async)?.enabled',
                [pagesCount]='(paginatorConfig$ | async)?.pagesCount',
                (pageChange)='onPageChange($event)'
            )
        app-no-items(*ngIf='!(hasData$ | async) && !(isLoading$ | async)')
