doctype html

.btn-toolbar(
    role='toolbar',
    aria-label='action buttons'
)
    button.btn.btn-outline-info.mr-2(
        *ngFor='let action of actions',
        (click)='onActionClick(action)'
    ) {{ action }}
hr

.accordion
    input.accordion-switcher#filters-display(type='checkbox')
    label.accordion-label(for='filters-display') Payments filter
    .accordion-tab
        form(
            #filtersForm='ngForm',
            (submit)='onSubmitClick(filtersForm)'
        )
            .row
                label.col-sm-2.col-form-label-sm Payment for
                .col-sm-2
                    select.form-control-sm.form-control#month(
                        name='month',
                        [(ngModel)]='filters.month'
                    )
                        option(
                            *ngFor='let month of months',
                            [ngValue]='month.id'
                        ) {{ month.name }}
                .col-sm-2
                    select.form-control-sm.form-control#year(
                        name='year',
                        [(ngModel)]='filters.year',
                        placeholder='Year'
                    )
                        option(
                            *ngFor='let year of years',
                            [ngValue]='year.id'
                        ) {{ year.name }}
            .row
                label.col-sm-2.col-form-label-sm Payment type
                .col-sm-3
                    select.form-control-sm.form-control#paymentType(
                        name='paymentType',
                        [(ngModel)]='filters.paymentTypeId'
                    )
                        option(
                            *ngFor='let paymentType of (paymentTypes$ | async)',
                            [ngValue]='paymentType.id'
                        ) {{ paymentType.name }}
            .row
                label.col-sm-2.col-form-label-sm Amount
                .col-sm-3
                    select.form-control-sm.form-control(
                        (change)='onAmountFilterChanged($event.target.value)',
                        [(ngModel)]='amountFilterType',
                        [ngModelOptions]='{standalone: true}',
                    )
                        option() 
                        option(value='between') Between
                        option(value='exactly') Exactly
                .col-sm-3(
                    *ngIf='(amountFilterType$ | async) == "exactly"'
                )
                    input.form-control.form-control-sm#exact(
                        type='text',
                        #exact='ngModel'
                        name='exact',
                        placeholder='Enter payment amount exact value',
                        [(ngModel)]='filters.amount.exact',
                    )
                .col-sm-3(
                    *ngIf='(amountFilterType$ | async) == "between"'
                )
                    input.form-control.form-control-sm(
                        type='text',
                        name='minAmount',
                        [(ngModel)]='filters.amount.min',
                        #periodStart='ngModel',
                        placeholder='Minimum'
                    )
                .col-sm-3(
                    *ngIf='(amountFilterType$ | async) == "between"'
                )
                    input.form-control.form-control-sm(
                        type='text',
                        name='periodEnd',
                        [(ngModel)]='filters.amount.max',
                        #periodEnd='ngModel',
                        placeholder='Maximum'
                    )

            .btn-toolbar(
                role='toolbar',
                aria-label='filter buttons'
            )
                .btn-group.mr-2(
                    role='group',
                    aria-label='filter button'
                )
                    button.btn.btn-primary.btn-sm(
                        type='submit'
                    ) Filter
                .btn-group.mr-2(
                    role='group',
                    aria-label='clear filter button'
                )
                    button.btn.btn-outline-secondary.btn-sm(
                        type='button',
                        (click)='clearFilters()'
                    ) Clear


.payments-list(
    [class.hidden]='isLoading$ | async'
)
    app-payment-item(
        *ngFor='let payment of (payments$ | async)',
        [payment]='payment',
        (deleteClick)='onDeleteRecordClick($event)',
        (editClick)='onEditRecordClick($event)',
        (typeClick)='onTypeClick($event)'
    )

img.loading-indicator(
    alt='loading..',
    src='images/loading.svg',
    *ngIf='isLoading$ | async'
)