doctype html

.actions
    button.btn.btn-outline-info(
        *ngFor='let action of actions',
        (click)='onActionClick(action)'
    ) {{ action }}

hr

.accordion
    input.accordion-switcher#filters-display(type='checkbox')
    label.accordion-label(for='filters-display') Payments filter
    .accordion-tab
        form.filters(
            #filtersForm='ngForm',
            (submit)='applyFilters(filtersForm)'
        )
            .filters-row
                label.filters-row_label.col-form-label-sm Payment for
                select.filters-row_filter.custom-select.m-form-control.custom-select-sm#month(
                    name='month',
                    [(ngModel)]='filters.month'
                )
                    option(
                        *ngFor='let month of months',
                        [ngValue]='month.id'
                    ) {{ month.name }}

            .filters-row
                label.filters-row_label.col-form-label-sm(for='paymentType') Payment type
                select.filters-row_filter.custom-select.m-form-control.custom-select-sm#paymentType(
                    name='paymentType',
                    [(ngModel)]='filters.paymentTypeId'
                )
                    option(
                        *ngFor='let paymentType of (paymentTypes$ | async)',
                        [ngValue]='paymentType.id'
                    ) {{ paymentType.name }}

            .filters-row
                label.filters-row_label.col-form-label-sm Amount (will be later)
                select.filters-row_filter.small.custom-select.m-form-control.custom-select-sm(
                    (change)='amountFilterChanged($event.target.value)'
                )
                    option() 
                    option(value='between') Between
                    option(value='exactly') Exactly
                input.form-control.m-form-control.form-control-sm#amountExactly(
                    *ngIf='(amountFilterType$ | async) == "exactly"',
                    type='text',
                    placeholder='Enter measurement type name',
                    name='amount.exactly',
                    [ngModel]='filters.amount.exactly',
                    #name='ngModel'
                )
                .filters-row.filters-row_multi-filers(
                    *ngIf='(amountFilterType$ | async) == "between"'
                )
                    input.date-filter.filters-row_filter.form-control.form-control-sm(
                        type='text',
                        name='minAmount',
                        [(ngModel)]='filters.amount.min',
                        #periodStart='ngModel',
                        placeholder='Minimum'
                    )
                    input.date-filter.filters-row_filter.form-control.form-control-sm(
                        type='text',
                        name='periodEnd',
                        [(ngModel)]='filters.amount.max',
                        #periodEnd='ngModel',
                        placeholder='Maximum'
                    )

            button.btn.btn-outline-primary(type='submit') Filter

.payments-list
    app-payment-item(
        *ngFor='let payment of (payments$ | async)',
        [payment]='payment'
    )

img.loading-indicator(
    alt='loading..',
    src='loading.svg',
    *ngIf='isLoading$ | async'
)