.background
    .bg-image
.form-container
    form
        h3 Recover your password.
        p Tell us some information about your account.
        .form-group.row
            label.col-2.col-form-label(
                for='email'
            ) Email
            .col-10
                input.form-control.m-form-control#email(
                    type='email',
                    placeholder='kraken92@gov.net.ar'
                )
        .form-group.row
            label.col-2.col-form-label(
                for='login'
            ) Login
            .col-10
                input.form-control.m-form-control#login(
                    type='text',
                    placeholder='kraken92'
                )
        button.btn.btn-sm.btn-primary.m-btn-primary.float-right(
            type='submit'
        ) Recover my password