doctype html

.bg-container
    .bg-image
    .auth-container
        .auth-card
            .auth-image
                img(src='images/img-login.png', alt='Payments logo')
            form.auth-form(
                #form='ngForm',
                [class.was-validated]='!!(whenUserAttemptAuth$ | async)',
                (submit)='onUserTryAuth(form)'
            )
                .info
                    h3 Sign in
                    p Please, sign in to use all features of service. Use values from your registration form.
                .form-row
                    label(for='login') Login
                    .input-group.input-group-sm
                        input.form-control#login(
                            type='text',
                            name='login',
                            placeholder='kraken89',
                            [(ngModel)]='userLoginRequest.login',
                            #login='ngModel',
                            required='required'
                        )
                .form-row
                    label(for='password') Password
                    .input-group.input-group-sm
                        input.form-control#password(
                            type='password',
                            name='password',
                            placeholder='password10',
                            [(ngModel)]='userLoginRequest.password',
                            #password='ngModel',
                            required='required'
                        )
                .form-row
                    button.btn.btn-primary(
                        *ngIf='isBusy$ | async',
                        type='button',
                        disabled='disabled'
                    )
                        span.spinner-border.spinner-border-sm(
                            role='status',
                            aria-hidden='true'
                        )
                        |  Signing..
                    button.btn.btn-sm.btn-primary(
                        *ngIf='!(isBusy$ | async)',
                        type='submit'
                    ) Sign in