doctype html

form.needs-validation(
    #addTypeForm='ngForm',
    [class.was-validated]='!!(whenSubmittedForm$ | async)',
    (submit)='onFormSubmit(addTypeForm)'
)
    .form-group
        label(for='name') Name
        input.form-control.m-form-control.form-control-sm#name(
            type='text',
            placeholder='Enter measurement type name',
            name='name',
            [(ngModel)]='addMeasurementTypeRequest.name',
            #name='ngModel',
            required='required',
            minlength='3',
            maxlength='25'
        )
        
    .form-group
        label(for='description') Description
        textarea.form-control.m-form-control.form-control-sm#description(
            placeholder='Enter description',
            name='description',
            [(ngModel)]='addMeasurementTypeRequest.description',
            #name='ngModel'
        )

    .form-group
        .row
            .col-2
                label(for='color') Badge color
                input.form-control.form-control-sm#color(
                    type='color',
                    name='color',
                    [(ngModel)]='addMeasurementTypeRequest.color',
                    #name='ngModel'
                )
            .col
                label(
                    title='Hover text below to see difference'
                ) Preview
                app-badge(
                    style='display: table',
                    [mainColor]='addMeasurementTypeRequest.color',
                    [text]='addMeasurementTypeRequest.name || "Name will be displayed here"'
                )
    .form-group
        label(for='paymentType') Payment type
        select.custom-select.m-form-control.custom-select-sm(
            required='required',
            name='paymentType',
            [(ngModel)]='addMeasurementTypeRequest.paymentTypeId',
        )
            option(
                *ngFor='let paymentType of (paymentTypes$ | async)',
                [value]='paymentType.id'
            ) {{ paymentType.name }}
    
    button.btn.btn-outline-primary(type='submit') Add