doctype html

.month-selector([id]="getControlId()")
    span(
        class="month-selector__arrow arrow-left",
        [class.disabled]="!canClickArrow('left')",
        (click)="onArrowClick('left')"
    )
        span.oi.oi--md.oi-chevron-left(aria-hidden='true')
    label.month-selector__selection
        input(
            type="checkbox",
            [checked]="isDropPanelVisible",
            (change)="onCheckBoxChecked($event.target)"
        )
        span {{ getCurrentSelection() }}
        .month-selector__drop-panel
            .line
                select(
                    [name]="getControlId('month')",
                    (change)="onMonthChange($event.target.value)",
                    [(ngModel)]="selectedMonth"
                )
                    option(
                        *ngFor='let month of months',
                        [value]='month.id'
                    ) {{ month.name }}
                select(
                    [name]="getControlId('year')",
                    [(ngModel)]="selectedYear",
                    (change)="onYearChange($event.target.value)"
                )
                    option(
                        *ngFor='let year of years',
                        [value]='year.id'
                    ) {{ year.name }}
            .line
                button.btn.m-btn-xs.btn-primary.btn-block(
                    type="button",
                    (click)="onTodayBtnClick()"
                ) {{ todayBtnCaption }}
            .line(*ngIf="canClear")
                button.btn.m-btn-xs.btn-secondary.btn-block(
                    type="button",
                    (click)="onClearBtnClick()",
                    [disabled]="isEmpty()",
                    [class.disabled]="isEmpty()"
                ) {{ clearBtnCaption }}
    span(
        class="month-selector__arrow arrow-right",
        [class.disabled]="!canClickArrow('right')",
        (click)="onArrowClick('right')"
    )
        span.oi.oi--md.oi-chevron-right(aria-hidden='true')